 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
     font-family: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}
html {
  scroll-behavior: smooth;
}


input,
button {
    cursor: pointer;
}

body {
    min-height: 100vh;
          background-color: #0a0f0f;
       width: 100%;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 40px;
    gap:18px;
    width: 100%;

}

#img{
max-height: 540px;
width: 100%;
filter: brightness(70%);
}

.content{
   min-height: 100vh; 
   width: 100%;
}
.blogs img{
  min-width: 260px;
    height: 210px;
    object-fit: cover;
      margin-bottom: 10px;
}
.text p{
    width: 90%;
}

.news{
   
    background-image:url(imgs/bg2.png) ;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    min-height: 100vh;
    padding-top: 18px;
} 
.blogs{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.133);
    border-radius: 12px;
}
h1{

font-weight: 500;
font-style: Medium;
font-size: 32px;
color:#FFFFFF;
line-height: 90%;
letter-spacing: 0%;
text-align: center;

}
h1:hover{
    color:#FACE8D;
}
.infos{
 background-color: #0a0f0f;
    min-height: 100vh;
}
.cont{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
        background-color: #0a0f0f;
}
.blogs img{
    border-radius: 10px;
    margin-right: 20px;
    width: 280px;
    height: 200px;
}

@font-face {
    font-family: "Chillax";
    src: "url(Fonts/Chillax-Regular.otf)";
}

@font-face {
    font-family: "Bitter Rose";
    src: url('Fonts/Bitter Rose DEMO.otf');
}

.hero {
    width: 60%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}
.hero h2 {
    color: #FFFFFF;
    font-family:cursive;
    font-weight: 500;
    font-style: Medium;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;

}

.hero span {
    color: #FACE8D;
    margin-top: 80px;
    font-family: Bitter Rose;
    font-weight: 400;
    font-style: Regular;
    font-size: 80px;
    line-height: 90%;
    letter-spacing: 0%;

}


.text span{

font-weight: 400;
font-style: Regular;
font-size: 16px;
color: #FACE8D;
line-height: 160%;
letter-spacing: 0px;

}
.text h4{
   
font-weight: 500;
font-style: Medium;
font-size: 20px;
color:#ffffff;
line-height: 160%;
letter-spacing: 0%;
margin:0px;

}
.text p{

font-weight: 400;
font-style: Regular;
font-size: 14px;
color:#ffffff;
line-height: 160%;
letter-spacing: 0px;
margin:0px;
opacity: 0.6;

}
.blogs{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    transition: 0.3s ease-in-out;
    width: 96%;


}



nav ul {
     position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.3s;
    width: 28vw;
    background-color: #2d2c2cb7;
    border-radius: 100px;
    padding:18px;
    margin: auto;
    height: 48px;
  margin-top: 100px;
}

ul a {
  
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 100%;
    letter-spacing: 0%;
    transition: 0.3s;


}
.blogs:hover{
    opacity: 0.6;
    cursor: pointer;
    border:1px solid #FACE8D;
    border-radius: 12px;
}

 a:hover{
 color:#FACE8D;

}

  footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #18161a;
    padding-inline: 48px;
    font-size: 14px;
    color: #050505;
    color: #bebdbd;
    width: 100%;
    margin:0px
}

@media screen and (max-width:1200px){
    .main{
        grid-template-columns: 1fr;
        
    }
 
   nav ul{
        flex-direction: column;
        gap:30px;
        padding-inline: 0px;
        background:none;
         width:96vw;

    }
    .blogs{
        margin-bottom: 20px;
        width: 86vw;
    }
  #img{
    display: none;


}
    .infos{
        padding: 0px;
        margin-top: 40px;
    }
     .hero h2{
        font-size: 48px;
    }

    nav ul a{
        font-size: 18px;
        color: #FFF;
          text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    }

     footer {
        padding-inline:  16px;
        font-size: 14px;
      
    }
  
    
}

@media screen and (max-width:576px){
 
    .blogs{
        flex-direction: column;
        max-width:400px;
        gap:12px;
        

    }
    footer{
        font-size: 12px;
    }
    .blogs img{
        margin-right: 0px;
        margin-top: 40px;
    }

    .text p{
        display: none;
    }


    .text{
        width: 96%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .hero h2{
        font-size: 36px;
    }
    
    
}



@media screen and (min-height: 200px) and (max-height: 800px) {

.news{
     min-height: 130vh;
}
}

@media screen and  (max-height: 450px) {
   .reservation{
    height: 200vh;
}
    .news{
   min-height: 200vh;
} 
} 


