* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}
html {
  scroll-behavior: smooth;
  background-color: rgb(250, 246, 246);
  align-items: center;
  justify-content: center;
  display: flex;
}

input,
button {
    cursor: pointer;
}

body {
    width: 1680px;
    min-height: 100vh;
    background-color: #050505;
    margin: 0 auto;

}

#img{
max-height: 640px;
width: 100%;
margin-top: 40px;

}

.content{
  width: 100%;
   min-height: 100vh; 
}
.blogs img{
  min-width: 280px;
    height: 210px;
    object-fit: cover;
      margin-bottom: 10px;
}

.news{

    background-image:url(imgs/bg2.png) ;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 40px;
    margin-top: 40px;
} 
h1{
    font-family: Chillax;
font-weight: 500;
font-style: Medium;
font-size: 32px;
color:#FFFFFF;
line-height: 90%;
letter-spacing: 0%;

}
h1:hover{
    color:#FACE8D;
}
.infos{
    width: 100%;
    padding-left: 40px;
    padding-top: 40px;
    min-height: 100vh;
}
.blogs img{
    border-radius: 10px;
    margin-right: 20px;
}
@font-face {
    font-family: "Chillax";
    src: "url(Fonts/Chillax-Regular.otf)";
}

@font-face {
    font-family: "Bitter Rose";
    src: url('Fonts/Bitter Rose DEMO.otf');
}

.hero {
    width: 60%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 160px;

}
.hero h2 {
    color: #FFFFFF;
    font-family: Chillax;
    font-weight: 500;
    font-style: Medium;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;

}

.hero span {
    color: #FACE8D;
    font-family: Bitter Rose;
    font-weight: 400;
    font-style: Regular;
    font-size: 80px;
    line-height: 90%;
    letter-spacing: 0%;

}
.main{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 90%;
    margin:auto;
}

.text span{
font-family: Chillax;
font-weight: 400;
font-style: Regular;
font-size: 16px;
color: #FACE8D;
line-height: 160%;
letter-spacing: 0px;

}
.text h4{
    font-family: Chillax;
font-weight: 500;
font-style: Medium;
font-size: 24px;
color:#ffffff;
line-height: 160%;
letter-spacing: 0%;
margin:0px;

}
.text p{
    font-family: Chillax;
font-weight: 400;
font-style: Regular;
font-size: 16px;
color:#ffffff;
line-height: 160%;
letter-spacing: 0px;
margin:0px;
opacity: 0.6;

}
.blogs{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: start;
    transition: 0.3s ease-in-out;

}

.navItems {
    width: 30vw;
    background-color: #2d2c2cb7;
    border-radius: 100px;
    padding: 20px 12px;
    margin: auto;
    margin-top: 100px;

}

nav ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 0 !important;
    transition: 0.3s;
}

ul a {
    font-family: Chillax;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 100%;
    letter-spacing: 0%;
    transition: 0.3s;


}
.blogs:hover{
    opacity: 0.6;
    cursor: pointer;
}

 a:hover{
 color:#FACE8D;
}

@media screen and (max-width:1100px){
    .main{
        flex-direction: column;
    }
     .navItems nav ul{
        flex-direction: column;
        gap:30px;
      
    }
    .navItems nav ul{
        flex-direction: column;
        gap:30px;
        padding-inline: 0px;
      
    }
    .navItems{
          padding:0px;
          background: none;
           margin-top: 40px;
    }
    .infos{
        padding: 0px;
        margin-top: 40px;
    }
    
    
}

@media screen and (max-width:426px){
    .main{
        flex-direction: column;
    }
     .navItems nav ul{
        flex-direction: column;
        gap:30px;
      
    }
    .navItems nav ul{
        flex-direction: column;
        gap:30px;
        padding-inline: 0px;
      
    }
    .navItems{
          padding:0px;
          background: none;
           margin-top: 40px;
    }
    .infos{
        padding: 0px;
        margin-top: 40px;
    }
    .blogs{
        flex-direction: column;
        max-width:400px;
        gap:12px;
        

    }
    .blogs img{
        margin-right: 0px;
        margin-top: 40px;
    }

    .text p{
        display: none;
    }

    .text{
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    
    
}

