@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
     font-family: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

input,
button {
    cursor: pointer;
}

body {
    min-height: 100vh;
       background-color: #0a0f0f;
        scroll-behavior: smooth;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    width: 97vw;
 

}

.reservation {
    background-image: url(imgs/bookBg.png);
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-size: cover;
    align-items: center;
    background-repeat: no-repeat;
    padding-top: 18px;
    min-height: 100vh;
    width: 100%;


}

 h1 {
    color: #ffffff;
    transition: 0.3s;
} 

h1:hover {
    color: #F8D49E;
}

.bookATable {
    padding-top: 18px;
    min-height: 100vh;
}

.details-of-booking {
    width: 80%;
    margin: 0 auto;

}

h3 {
    font-family: cursive;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 38px;
    text-align: center;

}

.details-of-booking p {

    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    color: #FFFFFFCC;
    line-height: 160%;
    letter-spacing: 0%;
    font-family: cursive;
    text-align: center;
    font-size: 24px;
    margin-top: 26px;
}

form {
    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label {
    font-family: cursive;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: #ffffff;
    line-height: 160%;
    margin-top: 48px;
    letter-spacing: 0px;

}
textarea{
     width: 100%;
    opacity: 1;
    padding: 16px 24px;
    border-radius: 10px;
    border-width: 1px;
    border: 1px solid #ffffff49;
    background-color: transparent;
    color: rgb(255, 255, 255); 
    resize: none;
    outline: none;

}
textarea:focus{
   outline: none;
    border: 1px solid rgb(3, 3, 146)
}

input {
    width: 100%;
    opacity: 1;
    padding: 16px 24px;
    border-radius: 10px;
    border-width: 1px;
    border: 1px solid #ffffff49;
    background-color: transparent;
    color: rgb(255, 255, 255);
}

input:focus {
    outline: none;
    border: 1px solid rgb(3, 3, 146)
}

.twoinput {
    display: flex;
    gap: 32px;
    width: 100%;
}

form button {
    width: 100%;
    margin-top: 48px;
    background: linear-gradient( 135deg,#f1be72, #473927);
    opacity: 1;
    border-radius: 500px;
    color: #081212;
    font-family: Chillax;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 48px;
    transition: 0.3s ease-in-out;

}

form button:hover {
   background: linear-gradient( 135deg, #473927, #f7b748);
    opacity: 1;
    color: rgb(20, 19, 19);

}



ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 36vw;
    background-color: #2d2c2cb7;
    border-radius: 100px;
    margin: auto;
    margin-top: 100px;
    height: 48px;
    padding-inline: 20px;


}

ul a {

    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 100%;
    letter-spacing: 0%;
    transition: 0, 3s;

}

ul a:hover {
    color: #F8D49E;
}

input[type="date"],
input[type="time"] {
  color: #fff; 
  padding: 8px;
  border-radius: 6px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
}



@font-face {
    font-family: "Bitter Rose";
    src: url('Fonts/Bitter Rose DEMO.otf');
}

@font-face {
    font-family: "Chillax";
    src: "url(Fonts/Chillax-Regular.otf)";
}


span {
    color: #FACE8D;
    font-family: Bitter Rose;
    font-weight: 400;
    font-style: Regular;
    font-size: 80px;
    line-height: 90%;
    letter-spacing: 0%;
    margin-top: 220px;

}


.reservation h2 {
    color: #FFFFFF;
    font-family:cursive;
    font-weight: 500;
    font-style: Medium;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0%;

}


footer{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0e0e0e;
    padding-inline: 48px;
    font-size: 14px;
    color:#050505;
    margin-top: 20px;
    color:#dedbdb;
    backdrop-filter: blur(16px);
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
}
a{
       color:#f7deb9;
      
       cursor: pointer; 
      
}
.aDiv{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    margin-top: 30px;
}
a:hover{
    opacity: 0.7;
}

footer a{
       color:#dedbdb;
       cursor: pointer; 
}

@media screen and (max-width: 1200px) {
    .main {
        grid-template-columns: 1fr;
        margin-bottom: 100px;
    }

    h3 {
        margin-top: 40px;
    }

    ul {
        width: 50vw
    }

    form button {
        margin-bottom: 22px;
    }
      h2 {
        font-size: 52px;
    }

    ul {
        width: 98vw;
        background: none;
        flex-direction: column;
        gap: 32px;
    }
    
    nav ul a{
        font-size: 18px;
        color: #FFF;
    }




}

@media screen and (max-width: 576px) {
    .details-of-booking p {
        font-size: 16px;
    }
    footer{
        font-size: 12px;
    }

    h3 {
        font-size: 32px;
    }

   .reservation h2 {
        font-size: 42px;
    
    }
    span{
        font-size: 42px;
    }

    nav ul a{
        font-size: 18px;
        color: #FFF;
    }
    

    .twoinput {
        flex-direction: column;
    }
}
@media screen and (min-height: 200px) and (max-height: 800px) {

.reservation{
   min-height: 160vh;
}
}
@media screen and (min-height: 200px) and (max-height: 450px) {

.reservation{
   min-height: 200vh;
}
}

.success {
   position: fixed;             
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 450px;
    height: 200px;
    padding: 30px 20px;
    background-color: rgba(13, 13, 13, 0.95); 
    text-align: center;
    border-radius: 16px;
    opacity: 0;                          
    transition: opacity 0.5s ease;  
    z-index: -999;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #fad398;
}

.success.show {
    opacity: 1;
    z-index: 99999;

}
.main.dis{
    opacity: 0.4;
}

.success h1 {
   color:#facc87;
    font-size: 28px;
    font-weight: bold;
    font-weight: bold;
    font-family: cursive;
}



.logOrsignIn{
     position: fixed;             
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 450px;
    height: 220px;
    padding: 30px 20px;
    background-color: rgba(13, 13, 13, 0.95); 
    text-align: center;
    border-radius: 16px;
    opacity: 0;                          
    transition: opacity 0.5s ease;  
    z-index: -999;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #fad398;
    flex-direction: column;
}
.logOrsignIn h1{
    color:#facc87;
      font-size: 24px;
      font-weight: bold;
      font-weight: bold;
      font-family: cursive;
      margin-bottom: 20px;
}
.logOrsignIn button{
    width:100px;
    margin-top: 10px;
    background: linear-gradient( 135deg,#52422b, #d27b09);
    opacity: 1;
    border-radius: 8px;
    color: #fdfdfd;
    font-family: Chillax;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 36px;
    transition: 0.3s ease-in-out;

}
.logOrsignIn button:hover {
   background: linear-gradient( 135deg, #473927, #f7b748);
    opacity: 1;
    color: rgb(20, 19, 19);

}

.buttons{
  display: flex;
  gap:32px;
  align-items: center;
}
.logOrsignIn.show {
    opacity: 1;
    z-index: 99999;

}
.noScroll{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media screen  and (max-width: 500px){
  .logOrsignIn{
    width: 80vw;
    height: 220px;
  }
  .logOrsignIn h1{
    font-size: 16px;
  }
   .logOrsignIn button{
    width:60px;
    font-size: 10px;
    height: 22px;
   }
   .buttons{

  gap:12px;
 
}
  
}







