
*{
    margin: 0; 
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}
input, button{
    cursor: pointer;
}
body{
    min-height: 100vh;
    background-color: #0a0f0f;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 86%;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    background-color: #080808;
    padding:12px 30px;
    gap: 22px;
    border-radius: 16px;
    margin-top: 12px;
    border:1px solid rgba(128, 128, 128, 0.107);
}
.container :nth-child(2){
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.container img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 22px;
}
.container h1{
    color: #fff;
    margin: 20px 0;
}
.container p{
    color: #e1e1e1;
    text-align: center;
    font-family: cursive;
    line-height: 28px;
    font-size: 18px;
}
.btn{
   width: 86%;  
   margin: auto;  
}
h4{
    
     margin-bottom: 18px;
    color: #ebeaea;
    margin-top: 10px;
     font-family: cursive;
     text-align: center;
}
button{
    padding: 5px 24px;
    background-color: #0e0e0e;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
     display: flex;
     align-items: center;
     justify-content: center;
     gap:6px;
     border:1px solid #FFFFFF;
}
button:hover{
    opacity: 0.3;
}
button img{
    width: 16px;
    height: 16px;
    color:rgb(255, 251, 251)
}


@media screen and (max-width:1200px){
    .container{
   
    grid-template-columns: 1fr;
  
}
}

@media screen and (max-width:600px){
    .container p{
    font-size: 12px;
}
  .container h1{
    font-size: 16px;
}
#story{
    font-size: 12px;
}
.container img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 22px;
}
}

