body {
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    font-family: cursive;
   align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(imgs/menu.png);

}
h1{
    margin-top: 30px;
    color:ghostwhite;
    margin-bottom: 46px;
}

form {
    background-color: #131313; 
    display: flex;
    flex-direction: column;
    border: 1px solid #efb36bf5;
    border-radius: 16px;
    padding: 35px 45px;
    width: 36vw;
    box-shadow: none;
    transition: transform 0.3s ease;
    gap:16px;
    margin-bottom: 20px;
}


.inp1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

input {
    width: 80%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #444; 
    border-radius: 12px;
    background-color: #111; 
    color: #eee;
    font-size: 15px;
    outline: none;
    transition: border 0.3s, box-shadow 0.3s, transform 0.2s;
}

input:focus {
    border-color: #efb36bf5;
}

label {
    width: 200px;
    margin-bottom: 8px;
    color: #efb36bf5;
    font-weight: 500;
}

.btndiv button {
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    background:linear-gradient(135deg, #403f3f, #efb36bf5);
    color: #111;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
     transition: 0.3s;
     width: 100%;
}

button:hover {
      background:linear-gradient(135deg,#efb36bf5, #403f3f);
}


.success {
   position: fixed;             
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 400px;
    height: 160px;
    padding: 30px 20px;
    background-color: rgba(13, 13, 13, 0.95); 
    text-align: center;
    border-radius: 16px;
    opacity: 0;                          
    transition: opacity 0.5s ease;  
    z-index: -999;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #fad398;
}

.success.show {
    opacity: 1;
    z-index: 99999;

}
.main.dis{
    opacity: 0;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    color:rgb(202, 153, 76);
}


@media screen  and (max-width:1200px){
    form{
        width: 50vw;
        margin: auto;
    }
    
}

@media screen  and (max-width:500px){
    body{
        width: 100%;
    }
    form{
         width: 70%!important;
         margin: auto;
         padding:20px 24px;
    }
    label{
       width: 100px;
    }
    
}

