@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
     font-family: "Montserrat", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

input,
button {
    cursor: pointer;
}

body {
    background-image: url(imgs/bg.png);
    min-height: 100vh;
    background-color: #050505;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;

}

section {
    min-height: 100vh;
}

header {
    display: flex;
   
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

 #title{
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 90%;
    letter-spacing: 0%;
    background-color: none;
    transition: 0.3s;

}
#title:hover{
    color:#FACE8D
}


.hero h2 {
    color: #FACE8D;
    font-family: Bitter Rose;
    font-weight: 400;
    font-style: Regular;
    font-size: 80px;
    line-height: 90%;
    letter-spacing: 0%;
    margin-bottom: 0px;
    text-align: center;

}

h1 {
    color: #FFFFFF;
    font-weight: 500;
    font-style: Medium;
    font-size: 160px;
    line-height: 120%;
    letter-spacing: 0%;
    margin: 0px;
    text-align: center;
    font-size: clamp(30px, 30vw, 160px);
}

.hero p {
    font-family: cursive;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    color: #FACE8D;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 700px;

}

.hero {
    max-width: 60vw;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
}

@font-face {
    font-family: "Bitter Rose";
    src: url('Fonts/Bitter Rose DEMO.otf');
}

@font-face {
    font-family: "Chillax";
    src: "url(Fonts/Chillax-Regular.otf)";
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 46vw;
    background-color:#ffffffbd;
    border-radius: 100px;
    padding: 22px;
    margin:auto;
    margin-top: 100px;
    height: 52px;
  
}
ul a{
font-weight: 500;
font-style: Medium;
font-size: 17px;
line-height: 100%;
letter-spacing: 0.5px;
 border-radius:40px;
  color:rgb(7, 7, 7);
 padding:6px 14px;
 transition: 0.3s;
 
}

ul a:hover{
opacity: 0.6;
cursor: pointer;
}
ul li img:hover {
  cursor: pointer;
  animation: shakeX 0.4s ;
}

@keyframes shakeX {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-8px); }
  50%  { transform: translateX(8px); }
  75%  { transform: translateX(-8px); }
  100% { transform: translateX(0); }
}

.box p{
    font-family: cursive;
}
h6{
    font-size: 14px;
    font-family: cursive;
    margin-bottom: 8px;
    color:#0d0c0c;
    text-align: center;
}
.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}
.time:hover{
    background-color:#100f0fc7;
    color:#ffffff;
    border-radius: 4px;
    cursor: pointer;
}
.time p{
    font-size: 12px;
    padding:2px 6px;
}


.show{
      background-color: rgba(255, 255, 255, 0.808);
    width: 180px;
    height:130px;
    position: absolute;
    bottom:-10%;
    left:14%;
    padding-inline: 14px;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    display: flex;
    align-items: space-between;
    justify-content: center;
    gap:8px;
}

.navItems{
    position: relative;
}
.fix{
    margin-right: 24px;
}

@media screen and (max-width: 1300px){
     #title{
        font-size: 22px;
     }
     h1 {
        font-size: 68px;
        margin-block: 20px;
     }
     .hero p {
      font-size: 24px;
      margin-top: 22px;

     }
    
   section{
    margin-bottom: 60px;
   }
   
    nav ul{
        flex-direction: column;
         background: none;
         gap:22px;
         width: 96vw;

     }

     ul a{
        background: none;
        color:#FFF;
        font-size: 18px;
     }
     #clock{
      display: none;
     }
     .box{
        display: none;
     }
  

}

@media screen and (max-width: 576px){
     #title{
        font-size: 24px;
     }
     h1 {
        font-size: 52px;
        margin-top: 22px;
     }
     .hero p {
      font-size: 18px;
      margin-top: 16px;

     }
     .hero{
        width: 99vw;
     }
       .hero h2{
        font-size: 58px;
     }
 ul a{
    font-size: 15px;
 
 }
    
    

}






